{% extends 'base.html' %}

{% block page_title %}About | NLC{% endblock page_title%}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/committee.css">
{% endblock page_styles %}
{% block page_scripts %}{% endblock page_scripts %}
{% block page_meta %}{% endblock page_meta %}	

{% block content %}
<header id="header" class="clearfix">
	<div class="wrapper">
		<h2><a href="/">LTCOE</a></h2>
		<nav id="main_nav">
			<a href="/about" class="active">About Us</a>
			<a href="#">Downloads</a>
			<a href="/committee">Committees</a>
			<a href="/register">Register</a>		
		</nav>
	</div>
</header>

<section id="board">
	<div class="cto">
		<img height="100" width="100" src="https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg">
		<h3>Full Name</h3>
		<p><span>CTO</span>, Big Data Company</p>
		<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.</p>
	</div>
	<div class="cto">
		<img height="100" width="100" src="https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg">
		<h3>Full Name</h3>
		<p><span>CEO</span>, Big Data Company</p>
		<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.</p>
	</div>
	<div class="cto">
		<img height="100" width="100" src="https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg">
		<h3>Full Name</h3>
		<p><span>CFO</span>, Big Data Company</p>
		<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.</p>
	</div>
	<div class="cto">
		<img height="100" width="100" src="https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg">
		<h3>Full Name</h3>
		<p><span>COO</span>, Big Data Company</p>
		<p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mattis sapien. Curabitur non enim aliquet, molestie metus at, malesuada nisi. Aliquam et lacinia felis. In euismod ut nulla id.</p>
	</div>
</section>
<footer id="footer">
	<div class="article">
		<h3>Random Header</h3>
		<ul>
			<li>Item No 1</li>
			<li>Item No 2</li>
			<li>Item No 3</li>
			<li>Item No 4</li>
			<li>Item No 5</li>		
		</ul>
	</div>
	<div class="article">
		<h3>Random Header</h3>
		<ul>
			<li>Item No 6</li>
			<li>Item No 7</li>
			<li>Item No 8</li>
			<li>Item No 9</li>
			<li>Item No 10</li>		
		</ul>
	</div>
	<div class="article">
		<h3>Random Header</h3>
		<ul>
			<li>Item No 11</li>
			<li>Item No 12</li>
			<li>Item No 13</li>
			<li>Item No 14</li>
			<li>Item No 15</li>		
		</ul>
	</div>
</footer>
{% endblock content %}