{% extends 'base.html' %}

{% block page_title %}About | NLC{% endblock page_title%}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/committee.css">
{% endblock page_styles %}
{% block page_scripts %}{% endblock page_scripts %}
{% block page_meta %}{% endblock page_meta %}	

{% block content %}
<header id="header" class="clearfix">
	<div class="wrapper">
		<h2><a href="/">LTCOE</a></h2>
		<nav id="main_nav">
			<a href="/static/assets/guidelines.pdf">Steps</a>
            <a href="/static/assets/poster.pdf">Event Details</a>
            <a href="/committee" class="active">Committee Members</a>
            <a href="/static/assets/format.pdf">IEEE format</a>
            <a href="/register">Register</a>
		</nav>
	</div>
</header>

<section id="board">
	<div class="cto">
		
		<h3>Dr. S.K. Ukrande</h3>
		<p><span>Ex Dean Faculty</span>, Mumbai University/p>
		
	</div>
	<div class="cto">
		<h3>Dr. V.K. Sunnapawar</h3>
		<p><span>Director</span>, Lok Manya Tilak College of Engineering</p>
		
	</div>
	<div class="cto">
		<h3>Dr. Vivek Yakundi</h3>
		<p><span>Principal</span>, Lok Manya Tilak College of Engineering</p>
		
	</div>
	<div class="cto">
		<h3>Dr. S.M. Khot</h3>
		<p><span>Principal</span>, F.C.R.I.T</p>
		
	</div>
	<div class="cto">
		<h3>Dr. Chelpa Lingam</h3>
		<p><span>Principal</span>, Pillai College</p>
		
	</div>
	<div class="cto">
		<h3>Dr. D.G. Borse</h3>
		<p><span>Principal</span>, A.C. Patil</p>
		
	</div>
	<div class="cto">
		<h3>Dr. S.D. Sawarkar</h3>
		<p><span>Principal</span>, Datta Meghe</p>
		
	</div>
	<div class="cto">
		<h3>Dr. S.D. Sawarkar</h3>
		<p><span>Principal</span>, Datta Meghe</p>
		
	</div>
	<div class="cto">
		<h3>Dr. Hari Vasudevan</h3>
		<p><span>Principal</span>, D.J. Sanghvi</p>
		
	</div>
	
</section>
{% endblock content %}