{% extends 'base.html' %}

{% block page_title%} NLC | LTCOE Presents National Level Conference {% endblock page_title %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock page_styles %}

{% block page_scripts %}{% endblock page_scripts %}

{% block content %}
<header id="header" class="clearfix">
    <div class="wrapper">
        <img height="50" width="55" src="/static/assets/ltcoe.png">
        <h2>LTCOE</h2>
        <nav id="main-nav">
            <a href="/static/assets/guidelines.pdf">Steps</a>
            <a href="/static/assets/poster.jpg">Event Details</a>
            <a href="/committee">Committee Members</a>
            <a href="/static/assets/format.pdf">IEEE format</a>
            <a href="/register">Register</a>
        </nav>
    </div>      
</header>
<section id="hero-block">
    <div class="inner-hero">
        <img src="/static/assets/logo.png" width="120" height="135">
        <h2>Lokmanya Tilak College of Engineering presents<br><br> National Level Conference 2017</h2>
        <div class="sign-up">
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button id="button">Login</button>
            </form>
        </div>
    </div>
</section>  
<section id="main-body" class="clearfix">
    <div class="row" id="images">
        <img class="mySlides" height="400" width="750" src="/static/assets/DSC0078.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/DSC0096.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/DSC0105.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/IMG_1506.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/IMG_1557.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/IMG_1825.jpg">
        <img class="mySlides" height="400" width="750" src="/static/assets/IMG_7965.jpg">
    </div>
    <div class="row" id="news">
        <h2>News Bulletin</h2>
        <div>
            <ul>
            {% for a in announcements %}
                <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="{{ a.announcements }}">{{ a.announcements }}</li><br><br>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="article">
        <div class="contacts">
            <h2>Contact Us</h2>
            <div class="row">
                <div class="main">
                    <h4>Ahtesham Husain</h4>
                    <h5>7208599274</h5>
                </div>
                <div class="main">
                    <h4>Shivani Shetty</h4>
                    <h5>9833376883</h5>
                </div>
                <div class="main">
                    <h4>Omakar Pillvankar</h4>
                    <h5>9969799213</h5>
                </div>
                <p>Built by, Shodhanth and Varun, Computer Dept, LTCOE</p>
            </div>
        </div>
    </div>
</footer>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>
{% endblock content %}
